<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../views/css/main.css">
	<title>B-Local: Mi casa es tu casa</title>
</head>
<body>
	<header>
		<section id="sctHeader">
			<h2>B-Local: Mi casa es tu casa, Bienvenido!</h2>
		</section>
	</header>
	<section id="sctMain">
		<h3><a href="/">Inicio</a></h3>
		<h3><a href="/agrega-local">¿Quieres ser anfitrion? Pasanos la dirección!!</a></h3>
		<div class="dvListCiudades">
			<ul>
				{% for i in viewbag.items %}
					<li>
						<div class="dvLocal">
							<h5><a href="/city/{{i.city}}/{{i.id}}">{{i.title}}</a></h5>
							<span><b>Descripción: </b> {{i.description}}</span><br>
							<span><b>Dirección: </b>{{i.address}}</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	<footer>
		<span><a href="#">Contactanos</a></span>
		<span><a href="#">Acerca de Nosotros</a></span>
		<span><a href="#">Viaja Seguro</a></span>
		<span><a href="#">Destinos</a></span>
	</footer>
</body>
</html>